{
margin: :0;
padding:0;

}
h1{
 border: 2px solid blue;
 border-radius:5px;
 text position: center;
 font-size: 50px;
 background-color:#0be881;
}



body{
height: 100vh;
background-color: #4a69bd;
text-align:center;
 font-family: arial;

}



.ahem{
 background-color: #0be881;
font-size:25px; 
text-align:left;
font-family:italic ;


}




p{

font-size: 25px;
font-family: arial;


}




.logo img{
width: 100px;
 height: auto;
 float: left;
 border-color: red ; 
}


